<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landmark Predictions</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <h1 class="display-6">Landmark Predictions</h1>
            </a>
        </div>
    </nav>

    <div class="container">
        <br><br>
        <form action="#"  method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input type="file" class="form-control" name="image_name" required>
                <input type="submit" value="Upload" class="btn btn-outline-secondary">
            </div>
        </form>

    </div>
    {% if upload %}
        <div>
            <br><br>
            
                    <tr>
                        <td>
                            <img class="rounded float-left img-fluid" src="./static/upload/{{ upload_image }}" style="margin-bottom: 100px; height: 900px; width: 2000px; padding: 350px;">
                        </td>
                    </tr>
            
        </div> 
        <div >       
            <table>
                <tr style="border: solid black;">
                    <br>
                    <td style="background-color: greenyellow;">
                        <h1 class="display-8" style="display: flex; justify-content: center;"> {{ text }}</h1>
                    </td>

                </tr>
            </table>
        </div> 
                
            
        
    {% endif %}
</body>
</html>